.outerDiv{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto auto;
    width: 500px;
    border: 1px solid rgba(17, 4, 255, 0.654);
    border-radius: 8px;
    background-color: rgba(0, 42, 255, 0.179);
    box-shadow: 0 0 10px 1px rgba(37, 78, 225, 0.25);
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    backdrop-filter: blur(15px);
}